{% extends 'base.html' %}

{% block title %}
    {{query.title}}
{% endblock title %}

{% block body %}
<style>
    .proimg{
        height:50vh;
    }
    .contai{
        padding:100px;
    }
    tr{
        text-align: center;
    }
    body{
        background-color: #71b3dd45;
    }

    .bttn {
        position: fixed;
        left: 93%;
        top: 68%;
        z-index: 20;
    }   
</style>
<button type="button" class="btn btn-dark btn-lg bttn shadow"><i class="fa fa-shopping-cart" style="margin-right: 6px;"></i> <h5 id="cart_count">{{c}}</h5></button>
    <div class="container-fluid contai">
        <div class="row">
            <div class="col">
                <img src="https://source.unsplash.com/1600x900/?{{query.title}}" class="proimg">
            </div>
            <div class="col">
                <table>
                    <tr>
                        <td>
                            <h1>{{query.title}}</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="descp">{{query.desc}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Price: {{query.price}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Seller info: {{query.creatorinfo}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{query.review}} % people liked this product</p><progress id="file" value={{query.review}} max="100"></progress>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                            <a href="/carts/addc/{{query.itemno}}"><button class="btn btn-success" style="margin-right: 8px;"><i class="fas fa-shopping-cart" ></i> Add to cart</button></a>
                            <button class="btn btn-outline-success">Contact Seller <i class="fas fa-phone"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}
