{% extends 'base.html' %}
{% block title %}
    SellerSignUp
{% endblock title %}
{% block body %}
    <style>
        body {
            background-image: linear-gradient(115deg,rgba(143, 78, 137, 0.8),rgba(255, 185, 251, 0.7)),
            url(https://damassets.autodesk.net/content/dam/autodesk/www/products/factory-design-utilities/fy21/overview/descriptive-overview/section-1/visualize-and-optimize-factory-designs-04-large-1608x1080.jpg);
        }
        #main_form {
            background: white;
            border-radius: 1%;
        }
        .form_title {
            text-align: center;
            color: white;
            margin-top: 1.3em;
            margin-bottom: 0.8em;
        }
        .alert{
            display: {{visibility}};
            width:70%;
            text-align: center;
            margin:20px auto -10px;

        }

        .container {
          margin-bottom: 170px;
        }
    </style>
    
    <div class="alert alert-success text-dark" role="alert">
        Your request for registration is being processed. We'll notify you soon...
      </div>      
    <h1 class="form_title">Seller Registration</h1>
    <div class="container shadow" style="padding: 2%; width: 50vw;" id="main_form">
        <div class="form-sec">
          <h4 style="text-align: center;">Fill-in your details to register as seller</h4>
         <form method="POST">
            <div class="form-group">
              <label>Name:</label>
              <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" required>
            </div>
            <br>
            <div class="form-group">
              <label>Email:</label>
              <input type="email" class="form-control" id="name" placeholder="Enter Email" name="email" required>
            </div>
            <br>
            <div class="form-group">
              <label>Phone No.:</label>
              <input type="text" class="form-control" id="phone" placeholder="Enter Phone no." name="phone" required>
            </div>
            <br>
            <!-- <div class="form-group">
              <label>Password:</label>
              <input type="password" class="form-control" id="name" placeholder="Enter Password" name="password" required>
            </div> -->
            <div class="mb-3">
                <label for="formFile" class="form-label">Attatch your ID (ex. Aadhaar, PAN, Driving license):</label>
                <input class="form-control" type="file" id="formFile" required>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Please attach a document decribing the products you sell:</label>
                <input class="form-control" type="file" id="formFile" required>
                <small>Note: This is very crucial for approving your registration.</small>
            </div>
            <div class="form-group">
              <label>Address</label>
              <textarea name="address" class="form-control" id="iq" placeholder="Enter your Address along with zip-code" required></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary container-fluid"><i class="fa fa-user"></i> Register</button>
          </form>
          </div>
        </div>
{% endblock body %}
